*, html {
    padding: 0;
    margin: 0;
    background-color: #212529;
}

/* NAVBAR */

.navbar .container a {
    font-family: sf-pro-bold;
    font-style: normal;
    color: rgba(255, 255, 255, 0.55);
}

.navbar .container a:hover {
    font-family: sf-pro-bold;
    font-style: normal;
}

.navbar .container .dropdown-menu {
    background-color: #212529;
}

.navbar .container .dropdown-menu a {
    font-family: sf-pro-medium;
}

.navbar .container .dropdown-menu a:hover {
    color: white;
    background-color: #6610f2;
}

/* HOME */

#home {
    height: 100%;
    background-color: #212529;
    margin-top: 228px;
    margin-bottom: 248px;

}

#home img {
    height: 128px;
    width: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#home div {
    margin-top: 48px;
}

#home h1 {
    font-family: sf-pro-medium;
    font-size: 41px;
    padding-bottom: 4px;
    color: white;
    text-align: center;
}

#home div {
    text-align: center;
}

#home div p {
    font-family: sf-pro-light;
    font-size: 21px;
    color: lightgray;
}

#home div a i {
    color: lightgray;
    text-decoration: none;
    margin-top: 32px;
    font-size: 24px;
}

#home div a i:hover {
    color: white;
}

/* UEBER */

#ueber {
    background-color: #212529;
}

#myCarousel {
    margin-top: 228px;
    margin-bottom: 96px;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}
  
.carousel-item {
    height: 36rem;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.carousel img {
    height: 256px;
    width: 256px;
}

.carousel-caption h2 {
    font-family: sf-pro-medium;
}

.carousel-caption h1 {
    font-family: sf-pro-bold;
}

.carousel-caption p {
    font-family: sf-pro-light;
}

.marketing {
    margin-bottom: 296px;
    background-color: #212529;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-family: sf-pro-bold;
    color: white;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
    font-family: sf-pro-medium;
    color: lightgray;
}

/* PRODUKTE */

#produkte h1 {
    color: white;
    font-family: sf-pro-bold;
    text-align: center;
}

.featurette-divider {
    margin: 5rem 0;
    color: lightgray;
}
  
.featurette-heading {
    margin: 0;
    text-align: center;
}

.featurette h2 {
    font-family: sf-pro-bold;
    color: white;
}

.featurette p {
    font-family: sf-pro-medium;
    color: lightgray;
    text-align: center;
}

/* KONTAKT */

#kontakt {
    background-color: #212529;
    height: 100%;
    text-align: center;
    margin-top: 512px;
    margin-bottom: 327px;
}

#kontakt h1 {
    color: white;
    font-family: sf-pro-bold;
    font-size: 64px;
}

#kontakt h2 {
    color: white;
    font-family: sf-pro-medium;
    font-size: 28px;
}

#kontakt p {
    color: lightgray;
    font-family: sf-pro-light;
    font-size: 21px;
}

#kontakt p a {
    color: lightgray;
    text-decoration: none;
}

#kontakt p a:hover {
    color: lightgray;
    text-decoration: underline;
}

/* FOOTER */

footer {
    background-color: #212529;
    color: lightgray;
}

footer a {
    font-family: sf-pro-light;
}

footer a:hover {
    font-family: sf-pro-light;
    text-decoration: underline;
}

footer p {
    color: white;
    font-family: sf-pro-medium;
}

/* FONTS */

@font-face {
    font-family: sf-pro-bold;
    src: url("../fonts/SFProDisplay-Bold.ttf");
}

@font-face {
    font-family: sf-pro-bold-italic;
    src: url("../fonts/SFProDisplay-BoldItalic.ttf");
}

@font-face {
    font-family: sf-pro-medium;
    src: url("../fonts/SFProText-Medium.ttf");
}

@font-face {
    font-family: "sf-pro-light";
    src: url("../fonts/SFProText-Light.ttf");
}